<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
    <title>Cadastro de Funcionário</title>
</head>
<body>
   <section layout:fragment="conteudo">

        <div class="page-reader">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-sm-10">
                         <h1>Cadastro de Funcionário</h1>
                      </div>
                      
                      <div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default">
							<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
               </div>
          </div>
       </div>
  
      <div class="container-fluid">
         <form method="POST" th:object="${funcionario}" class="form-vertical js-form-loading">
            <div class="row">
               <div class="col-sm-12 form-group" >
               <label for="nome">Nome</label>
               <input id="nome" type="text" class="form-control"/>
               </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 form-group">
                <label for="logradouro">Logradouro</label>
                <input id="logradouro" type="text" class="form-control"/>
                </div>
                
                <div class="col-sm-4 form-group">
                <label for="numero">Número</label>
                <input id="numero" type="text" class="form-control"/>
                </div>
                
                <div class="col-sm-4 form-group">
                <label for="complemento">Complemento</label>
                <input id="complemento" type="text" class="form-control"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 form-group">
                <label for="cep">CEP</label>
                <input id="cep" type="text" class="form-control"/>
                </div>
                
                <div class="col-sm-4 form-group">
                <label for="estado">Estado</label>
                <select id="estado" class="form-control">
                    <option value="">Selecione o estado</option>
                    <option>São Paulo</option>
                </select>
                </div>
                
                <div class="col-sm-4 form-group">
                <label for="cidade">Cidade</label>
                <div class="sl-field-action">
                     <input type="hidden">
                     <select id="cidade" class="form-control">
                     </select>
                </div>
                </div>
            </div>
            
            <div class="row">
               <div class="col-sm-4 form-group">
               <label for="email">Email</label>
               <input id="email" type="text" class="form-control"/>
               </div>
               
               <div class="col-sm-4 form-group">
               <label for="telefoneResidencial">Telefone Residencial</label>
               <input id="telefoneResidencial" type="text" class="form-control"/>
               </div>
               
               <div class="col-sm-4 form-group">
               <label for="telefoneCelular">Telefone Celular</label>
               <input id="telefoneCelular" type="text" class="form-control"/>
               </div>
            </div>
            
            <div class="row">
                 <div class="col-sm-4 from-group">
                 <label for="estabelecimento">Estabelecimento</label>
                 <input id="estabelecimento" type="text" class="form-control">
                 </div>
            
                <div class="col-sm-4 form-group">
                <label for="especialidade">Especialidade</label>
                <select id="especialidade" class="form-control">
                     <option value="">Selecione uma especialidade</option>
                </select>
                </div>
                
                <div class="col-sm-4 form-group">
                <label for="agendamento">Agendamento</label>
                <input id="agendamento" type="text" class="form-control"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 form-group">
                <label for="servico">Serviço</label>
                <input id="servico" type="text" class="form-control"/>
                </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-success" type="submit">Enviar</button>
            </div>
         </form>
      
      </div>
  </section>
</body>
</html>